<ion-content>
  <div class="title">
    <h1>
      <img [src]="util.Asset.IMAGE_ALANA_LOGO">
    </h1>
    <h2>
      Empresas
    </h2>
  </div>
  <form (ngSubmit)="companyLogin()">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col col-1>
          <ion-icon name="md-person"></ion-icon>
        </ion-col>
        <ion-col col-10 ion-item>
          <ion-input type="email" name="email" placeholder="Email" autocomplete="off" required 
          [(ngModel)]="currentUser.email"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-1>
          <ion-icon name="md-lock"></ion-icon>
        </ion-col>
        <ion-col col-10 ion-item>
          <ion-input name="password" placeholder="Contrase&ntilde;a" required clearOnEdit="false"
          [type]="isPasswordVisible? 'text' : 'password'" [(ngModel)]="currentUser.password"></ion-input>
          <button type="button" item-right (tap)="isPasswordVisible = !isPasswordVisible;">
            <ion-icon [name]="isPasswordVisible? 'md-eye-off' : 'md-eye'"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
      <ion-row justify-content-center>
        <ion-col col-10>
          <a (tap)="forgotPassword()">¿Olvid&oacute; su contrase&ntilde;a?</a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-10 class="button-wrapper">
          <button type="submit" [disabled]="initAuth">
            Iniciar Sesi&oacute;n
          </button> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
