page-login {

            ion-content{

            background-color: #fff;

            .scroll-content{
                margin-bottom: 0 !important;
                display: flex;
                flex-flow: column;
            }

            .fixed-content, .scroll-content{
                margin: 0 !important;
            }

            .user-type{

                position: absolute;
                top: 2.5vw;
                right: 5%;

                button{

                    background: transparent;
                    background-color: map-get($colors, alana-theme);
                    border-radius: 2vw;
                    padding: 1.5vw;
                    display: flex;
                    
                    img{
                        height: 3.8vw;
                        margin: 0 1vw;
                    }
    
                    span{
                        margin: 0 1vw;
                        font-size: 3vw;
                        color: #fff;
                        font-family: ExoBold;
                        display: flex;
                        align-items: center;
                    }
    
                    span, img{
                        height: 3.8vw;
                    }
                }

            }
        
            .title{

                position: relative;
                margin: 10vw auto 8vw;
                width: 80%;

                h1{
                    text-align: center;
                }
        
                h2{
                    position: absolute;
                    color: map-get($colors, alana-theme);
                    font-style: italic;
                    font-size: 3.8vw;
                    letter-spacing: 1px;
                    font-weight: bold;
                    right: 0;
                    bottom: -20%;
                    margin: 0;
                }
            }

            form{

                ion-grid{

                    margin: auto;
                    max-width: 880px;
    
                    ion-row{
    
                        margin: 3vw 0;
    
                        ion-col{
    
                            color: #fff;
    
                            &[col-1]{
    
                                display: flex;
    
                                ion-icon{
                                    font-size: 6vw;
                                    margin: auto;
                                    color: map-get($colors, alana-theme);
                                }
                            }
    
                            &[col-10]{
                                
                                @include input-placeholder('input', map-get($colors, alana-theme));
                                background-color: #fff;
                                font-size: 4vw;
                                margin-left: 2vw;
                                color: map-get($colors, alana-theme);
    
                                button{
                                    background: transparent;
                                    position: absolute;
                                    right: 2.5%;
                                    top: 0;
                                    bottom: 0;
                                    margin: auto;
                                    color: map-get($colors, alana-theme);
                                    font-size: 5vw;
                                }
    
                                a{
                                    font-size: 3.5vw;
                                    float: right;
                                    color: map-get($colors, alana-theme)
                                }
                            }

                            &.button-wrapper{

                                height: 20vw;
                         
                                button{
        
                                    @extend .alana-button ;
                                    font-size: 4.5vw;
                                    height: 10vw;
    
                                    &[type=submit]{
                                        background-color: map-get($colors, alana-theme);
                                        color: #fff;
                                    }
    
                                    &[type=button]{
                                        background-color: #fff;
                                        color: map-get($colors, alana-theme);
                                        border: 0.5vw solid map-get($colors, alana-theme);
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .button-footer{

                flex: 1 1 auto;
                display: flex;

                ion-grid{
    
                    margin: auto 0 3vw;
                    max-width: 880px;

                    ion-row{

                        margin: 3vw 0;

                        &.button-container{
    
                            ion-col{
    
                                button{
    
                                    @extend .alana-button ;
                                    font-size: 4.5vw;
    
                                    &[type=submit]{
                                        background-color: map-get($colors, alana-theme);
                                        color: #fff;
                                    }
    
                                    &[type=button]{
                                        background-color: #fff;
                                        color: map-get($colors, alana-theme);
                                        border: 0.5vw solid map-get($colors, alana-theme);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
}
