.md, .ios{

    page-home {

        ion-content > .fixed-content, ion-content > .scroll-content{
            margin-top: 56px !important;; 
        }

        ion-header{

            ion-title{
                padding: 0 5vw;
            }
        }
    
        ion-content {
    
            background-color: #f4f4f4;
    
            ion-list{
    
                padding: 5vw 0;
    
                alana-item{
    
                    ion-thumbnail{
                        
                        img{
                            width: 20vw !important;
                            height: 20vw !important;
                        }
                    }
    
                    .item-content{
    
                        height: 100%;
    
                        .title{
    
                            text-align: center;
                            height: 25%;
    
                            h1{
                                margin: 5px 0;
                                font-size: 3.5vw;
                                letter-spacing: 1px;
                                color: map-get($colors, alana-light-grey);
                                font-weight: bold;
                                padding: 5px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                width: 45vw;
                            }
    
                            h2{
                                margin: 0;
                                font-size:  3.5vw;
                            }
    
                        }
    
                        .info{
    
                            text-align: center;
    
                            span{
    
                                display: block;
                                width: 100%;
    
                                ion-icon, h2{
                                    display: inline-block;
                                    vertical-align: middle;
                                }
    
                                ion-icon{
                                    font-size: 4vw;
                                }
    
                                h2{
                                    display: inline-block;
                                    font-size: 2.7vw;
                                    margin: 0 5px;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                    color: map-get($colors, alana-light-grey);
                                }
    
                                p{
                                    display: inline-block;
                                    margin: 0;
                                    font-size: 2.7vw;
                                    font-weight: bold;
                                    color: map-get($colors, alana-light-grey);
                                    
                                    &.address{
                                        overflow: hidden;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 2;
                                        -webkit-box-orient: vertical;
                                        padding: 0 2px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

