<alana-header [displayBackButton]="false">
    <ion-title class="header-content">
      Home
    </ion-title>
</alana-header>

<ion-content>
  <ion-list *ngIf="currentCompany">
    <alana-item *ngFor="let office of currentCompany.offices"
    [background]="'#f4f4f4'"
    [size]="'small'"
    [defaultImage]="false"
    [thumbnail]="office.picture"
    (action)="searchPublications(office)">
      <div class="item-content">
        <div class="title">
          <h1>{{office.alias}}</h1>
        </div>
        <div class="info">
          <div class="wrapper">
            <span>
              <ion-icon name="ios-pin-outline"></ion-icon>
              <h2>Direcci&oacute;n:</h2><br>
              <p class="address">{{office.address.name}}</p>
            </span>
          </div>
        </div>
      </div>
      
    </alana-item>
  </ion-list>
</ion-content>
