.gradient-button-one {
    background: linear-gradient(90deg, #0091ff 0%, #6236ff 100%);

    &[disabled]{
        opacity: 0.5;
    }
}

.responsive-header{

    @media only screen and (min-width: 550px) and (max-width: 1200px){
        ion-title .toolbar-title{
    
            font-size: 4.5vw;
        }
        @include alana-header-theme("ion-toolbar", 12vw);
    
    }
    
    @media only screen and (max-width: 550px){     
        @include alana-header-theme("ion-toolbar", 0px);
    
    }
}

.responsive-segment{

    @media only screen and (min-width: 550px) and (max-width: 1200px){

        ion-header ion-toolbar.segment{
            height: 10vw;
        }

        ion-header ion-toolbar ion-segment{
        
            height: 8vw;

            ion-segment-button{
                font-size: 3.2vw !important;
                height: 100% !important;
                border-bottom-width: 4px !important;
            }
        }
    }
    
    @media only screen and (max-width: 550px){     
        
        ion-content > .fixed-content, ion-content > .scroll-content{
            margin-top: 120px !important;; 
        }
    }
}

.alana-input-focus{
    border-bottom: 1px solid map-get($colors, alana-theme) !important;

    .item-inner {
        border-bottom: 1px solid map-get($colors, alana-theme) !important;
        box-shadow: inherit;

        ion-label{
            color: map-get($colors, alana-theme) !important;
        }
    }
}

.alana-button{
    width: 100%;
    padding: 3vw;
    font-size: 18px;
    font-family: ExoBold;
    border-radius: 6vw;
    max-width: calc(100% - 20vw);
    font-size: 3.5vw;
    display: block;
    margin: auto;
}

.alana-button-with-icon{
    padding: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;

    &.large{
        width: 15vw;
        height: 15vw;
        font-size: 8vw;
    }

    &.shadow {
        box-shadow: 0.3vw 0.3vw 2vw #7b7b7b;
    }
}

.alana-footer-button{

    padding: 0 4vw;
    margin: 2vw 0;

    button{
        
        width: 100%;
        max-width: calc(100% - 20vw);
        padding: 4vw 0;
        border-radius: 10vw;
        font-size: 4.5vw;
        margin: auto;
        display: block;
        font-family: ExoBold;
    }
}

/* Crescent content loader */
.content-loader{
    width: 100%;
    height: 100%;

    ion-spinner{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 45px;
        height: 45px;

        * {
            stroke: map-get($colors, alana-theme) !important;
        }
    }
}

/* Class for grid view information list. */
/* Used to display publications, jobs and candidates matchs/likes */
.alana-grid-view{
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(121, 121, 121, 0.22);
    margin: 0 auto; 

    div:nth-of-type(1){
        height: 55%;

        img{
            width: 100%;
            height: 100%;
        }
    }

    div:nth-of-type(2){
        position: absolute;
        width: 100%;
        height: 80%;
        background: url('../assets/public/general/information-background.png') no-repeat;
        background-size: 125% 95%;
        background-position-x: 55%;
        background-position-y: 100%;
        top: 30%;
        padding-top: 35%;  

        img{
            position: absolute;
            top: 15%;
            right: 0;
            height: 12%;
        }

        p:nth-of-type(1){
            height: 25%;
            text-align: center;
            color: #35343d;
            font-size: 14px;
            font-weight: bold;
            overflow:hidden; 
            padding: 0px 5px;
            margin-top: 5px;
        }

        p:nth-of-type(2){
            text-align: center;
            font-size: 11px;
            color: #b2b1c0;
            margin-top: -5px;
            height: 40%;
            padding: 0px 10px;
            overflow:hidden;
        }

        div{
            width: 85%;
            margin: 0 auto;
            padding: 2.5% 0px;
            text-align: center;
            border-top: 1px solid #d7d7d7;
            color: map-get($colors, alana-theme);
            font-size: 20px;
        }

        p{
            display: flex;
            margin: 0 auto;

            span{
                margin: auto auto;
            }
        }

        @media only screen and (max-width: 350px){
            p:nth-of-type(1){
                font-size: 13px;
            }

            p:nth-of-type(2){
                font-size: 10px;
            }
        }

        @media only screen and (min-width: 450px){
            p:nth-of-type(1){
                font-size: 15px;
            }

            p:nth-of-type(2){
                font-size: 12px;
            }
        }

        @media only screen and (min-width: 550px){
            p:nth-of-type(1){
                font-size: 17px;
            }

            p:nth-of-type(2){
                font-size: 13px;
            }
        }

        @media only screen and (min-width: 650px){
            p:nth-of-type(1){
                font-size: 19px;
            }

            p:nth-of-type(2){
                font-size: 14px;
            }
        }

    }
}
/*Empty list view*/
.alana-empty-list{
    
    .empty-list{
        color: #4a4a4a;
        text-align: center;
        display: flex;
        height: 100%;
        width: 100%;

        div{
            margin: auto;
        }

        h2{
            letter-spacing: 0.5px;
            margin: 0;
        }

        button{
            border-radius: 50%;
            width: 50px;
            height: 50px;

            ion-icon{
                font-size: 40px;
            }
        }
    }
}
/* Class for show information in list form */
/* Used by company to show address and publication*/
.alana-list-view{

    ion-grid{

        ion-row{
            padding: 0;
            border: 1px #dadada solid;
            box-shadow: 0px 0px 6px rgba(218, 218, 218, 0.88);
            border-radius: 10px;
            position: relative;
            height: 100px;

            &:not(:first-child){
                margin-top: 15px;
            } 

            ion-col{
                
                &[col-3]{
                    ion-thumbnail{
                        display: flex;
                        height: 100%;
                        width: 60px;
                                
                        img{
                            width: 60px;
                            height: 60px;
                            margin: auto 0;
                        }
                    }
                }
                &[col-7]{

                    padding-left: 5px;

                    div {
                        height: 100%;
                        
                        p, h2 {
                            margin: 0;
                            white-space: nowrap; 
                            width: 95%; 
                            overflow: hidden;
                            text-overflow: ellipsis; 
                        }

                        h2 {
                            text-align: center;
                            font-size: 16px;
                            color: map-get($colors, alana-theme);
                            font-weight: bold;
                            padding: 20px 0 10px;
                        } 

                        p{
                            font-size: 12px;     
                        }
                    }
                }
                &[col-1]{
                    padding: 0;
                    display: flex;

                    .button-side{
                        height: 90%;
                        position: relative;
                        margin: auto auto;
                        width: 100%;
                        display: flex;
                        border-left: 1px solid #d8d8d8;

                        ion-icon{
                            font-size: 35px;
                            margin: auto 0px auto 10px;
                            color: map-get($colors, alana-theme);
                        }
                    }                            
                }

            }                 
        }
    }
}

/* Custom ripple effect for custom content button */
.ripple {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  
    &:after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      pointer-events: none;
      background-image: radial-gradient(circle, rgb(41, 41, 41) 8%, transparent 10.01%);
      background-repeat: no-repeat;
      background-position: 50%;
      transform: scale(12,12);
      opacity: 0;
      transition: transform .5s, opacity 0.5s;
    }
  
    &:active:after {
      transform: scale(0,0);
      opacity: .2;
      transition: 0s;
  }
}