/* Modal style */
@mixin modal-theme($content){

    #{$content}{

        background: transparent !important;

        .scroll-content{

            display: flex;

            .modal-background{
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #000;
                opacity: 0.3;
                z-index: -1;
            }

            .modal-content{
                box-shadow: $selector-box-shadow;
                border-radius: 10px;
                width: 80%;
                background-color: #fff;  
                display: flex;
                position: relative;
            }
        }
    }
}

/* Header style */
// Deprecated
@mixin header-theme($selector, $value){
    
    @if($value != 0px){
        ion-header #{$selector}{
            height: $value !important;
        }
        
        ion-content > .fixed-content, ion-content > .scroll-content{
            margin-top: $value $value !important;; 
        }
    } @else{
        ion-content > .fixed-content, ion-content > .scroll-content{
            margin-top: 56px !important;; 
        }
    }

    #{$selector} ion-title{
        text-align: center;
        font-family: ExoBold;
    }

    #{$selector} ion-title .toolbar-title{
        color: map-get($colors, alana-theme);
    }
}
// end Deprecated

// new
@mixin alana-header-theme($selector, $value){
    
    @if($value != 0px){
        ion-header #{$selector}{
            height: $value;
        }
        
        // workaround
        ion-content > .fixed-content, ion-content > .scroll-content{
            margin-top: $value; 
        }

    } @else{

        // workaround
        ion-content > .fixed-content, ion-content > .scroll-content{
            margin-top: 56px; 
        }
    }
}
// end new

@mixin header-theme-left($selector, $value){

    @if($value != 0px){
        ion-header #{$selector}{
            height: $value;
        }

        ion-content .fixed-content, ion-content .scroll-content{
            margin-top: $value;
        }
    } @else{
        ion-content .fixed-content, ion-content .scroll-content{
            margin-top: 56px;
        }
    }

    #{$selector} ion-title{
        text-align: left;
        margin-left: 10%;
        font-family: ExoBold;
    }

    #{$selector} ion-title .toolbar-title{
        color: map-get($colors, alana-theme);
    }
}

/* Header buttons style (sides buttons, I.E. back button) */
@mixin header-buttons($selector, $topValue){
    #{$selector}{
        position: absolute;
        top: $topValue;
    }

    #{$selector}[start]{
        left: 2%;

        button {

            padding: 0;
            height: 30px;
            width: 30px;

            ion-icon[name=arrow-back]{
                font-size: 32px;
            }
        }
    }

    #{$selector}[end]{
        right: 5%;
    }
}

/* Form page with button on bottom */
@mixin form-button-bottom() {
    
    ion-content {

        .scroll-content{
            display: flex;
            flex-direction: column;

            form{   
                padding-bottom: 5%;
            }

            .button-container{
                flex: 1 1 auto;
                display: flex;

                button{
                    margin: auto auto 20px;
                }
            }
        }

    }
}

/* Custom input style */
@mixin input-placeholder($selector, $placeholderColor){

    #{$selector}::-webkit-input-placeholder{
        color: $placeholderColor;
    }

    #{$selector}::-moz-placeholder{
        color: $placeholderColor;
    }
}