<ion-header>
  <ion-toolbar>
    <div class="header-content-wrapper">
      <ion-buttons class="back-button" *ngIf="displayBackButton">
        <button class="alana-back-button" ion-button clear (click)="returnPrevPage()">
          <ion-icon name="arrow-back" color="alana-theme"></ion-icon>
        </button>
      </ion-buttons>
      <ng-content select=".header-content">
  
      </ng-content>
    </div>
    <ng-content select=".header-toolbar">
    </ng-content>
  </ion-toolbar>
  
  <ion-toolbar class="segment" *ngIf="segment && segment.length > 1">
    <ion-segment [(ngModel)]="segmentValue">
      <ion-segment-button *ngFor="let item of segment; let i = index" [value]="i" (ionSelect)="selectSegment(i)">
        <span>{{item}}</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>  
</ion-header>
