.md, .ios {

    &.ios{

        alana-header{

            ion-toolbar{

                .segment-ios {

                    position: relative;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    align-items: flex-end;
                    display: flex;
    
                    &.disabled {
                        pointer-events: none;
                    }
                    
                    .segment-button{
    
                        color: #9b99a9;
                        border: none;
                        border-bottom: 4px solid map-get($colors, alana-theme);
                        border-color: rgba(0, 0, 0, 0) !important;
                        border-bottom-width: 4px;
                        background-color: transparent;
                        max-width: inherit;
    
                        &.segment-activated, &.activated{
                            border-color: map-get($colors, alana-theme) !important;
                            color: map-get($colors, alana-theme);    
                        }
                    }
                }
            }
        }
    }

    &.md{

        alana-header{

            ion-toolbar{

                .segment-md{

                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
    
                    &.disabled {
                        pointer-events: none;
                    }
                    
                    .segment-button{
    
                        color: #9b99a9;
                        border-color: rgba(0, 0, 0, 0) !important;
                        line-height: 5rem;
                        border-bottom-width: 4px;
    
                        &.segment-activated, &.activated{
                            border-color: map-get($colors, alana-theme) !important;
                            color: map-get($colors, alana-theme);    
                        }
                    }
                }
            }
        }
    }
    
    alana-header {

        ion-toolbar{

            .header-content-wrapper{
                display: flex;
            }

            ion-buttons{

                order: 0;
                padding: 2vw 0;

                &.back-button{
                    display: flex;
                    align-items: center;
                }
    
                button{
    
                    width: 8vw;
                    background-color: transparent !important;
    
                    &.alana-back-button{
                        
                        font-size: 6vw;
                    }
                }
            }
    
            ion-title{
    
                .toolbar-title{
                    
                    padding: 0;
                    font-family: ExoBold;
                    letter-spacing: 1px;
                }
            }

            ion-buttons.header-content{

                button{

                    height: 100%;
                    padding: 0;

                    ion-icon{

                        font-size: 6vw;
                        color: rgba(0,0,0,0.5);
                        font-weight: bold;
                        margin: auto;
                    }
                }
            }
        }
    }   
}
