.md, .ios {
    alana-item {

        ion-item{
    
            ion-label{
                
                margin: 0 !important;
                white-space: inherit !important;
    
                ion-card{
    
                    border-radius: 4vw  !important;
                    position: relative;
                    z-index: 0;
                    width: calc(100% - 5vw);
                    margin: 2vw auto;

                    .action{
                        width: 100%;
                        height: 100%;
                        position: relative;
                        z-index: 1;
                        background-color: transparent;
                    }
    
                    & > ion-grid{
    
                        height: 100%;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        padding: 0 !important;
    
                        & > ion-row{
    
                            height: 100%;
    
                            .custom-icon{
                                height: 6vw;
                                width: 6vw;
                                margin: auto;
                            }
    
                            ion-col{
    
                                padding: 0 !important; 
    
                                &.image{
    
                                    height: 100%;
                                    width: 100%;
                                    flex: 0 0 38%;
    
                                    ion-thumbnail{
            
                                        width: 100%;
                                        height: 100%;
                                        display: flex;
    
                                        img{
                                            position: relative;
                                            z-index: -2;
                                            object-fit: cover;
                                        }
                                    }
                                }
    
                                &.content{
                                    flex: 0 0 52%;
                                    box-shadow: -3px 0px 5px -3px rgba(0, 0, 0, 0.2);
                                }
    
                                &[col-1] {
                                    display: flex;
                                    margin: 10px 0;
                                    border-left: 1px solid rgba(0,0,0,0.1);
                                    flex: 0 0 9.5%;
                                    max-width: 9.5%;
    
                                    ion-icon{
    
                                        margin: auto;
                                        color: map-get($colors, alana-theme);
                                        font-size: 6vw;
                                    }
                                }
                            }
                        }
                    }
    
                    &.item-large{
    
                        height: 40vw;
    
                        ion-thumbnail{
    
                            box-shadow: inset -2px 0px 10px rgba(0, 0, 0, 0.2);
                            height: 100%;
    
                            img{
                                height: 100%;
                                width: 100%;
                            }
    
                        }
                    }
                    
                    &.item-medium{
    
                        height: 35vw;
    
                        ion-thumbnail{
    
                            box-shadow: inset -2px 0px 10px rgba(0, 0, 0, 0.2);
                            height: 100%;
    
                            img{
                                height: 100%;
                                width: 100%;
                            }
    
                        }
                    }

                    &.item-small{
    
                        height: 30vw;
    
                        ion-thumbnail{
    
                            img{
                                width: 50%;
                                height: 60%;
                                margin: auto;
                            }
                        }
                    }
                }
            }
        }
    } 
}
