<ion-item no-lines detail-none [ngStyle]="{'background-color': backgroundColor}">
  <ion-card [ngClass]="itemClass">
    <button type="button" class="action" (tap)="actionEmitter.emit()"></button>
    <ion-grid>
      <ion-row>
        <ion-col class="image">
          <ion-thumbnail>
            <img *ngIf="!defaultImage; else serverImage" [src]="itemThumbnail">
          </ion-thumbnail>
        </ion-col>
        <ion-col class="content">
          <ng-content select=".item-content"></ng-content>
        </ion-col>
        <ion-col col-1 *ngIf="!isSelectable; else selectableCol">
          <ion-icon *ngIf="actionIcon == ''; else customIcon" name="ios-arrow-forward"></ion-icon>
          <ng-template #customIcon>
            <img class="custom-icon" [src]="actionIcon">
          </ng-template>
        </ion-col>
        <ng-template #selectableCol>
          <ion-checkbox></ion-checkbox>
        </ng-template>
      </ion-row>
    </ion-grid>
    
  </ion-card>
</ion-item>